/* navbar related styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.nav-menu {
  display: flex;
  gap: 10px;
}
.nav-menu a {
  text-decoration: none;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li:hover {
  background-color: aquamarine;
}
.common-button {
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
}
.common-button:hover {
  background-color: rgb(34, 12, 160);
}

/* hero section styles */
.hero-container {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  color: white;
  padding: 0 20px;
}
.hero-container h1 {
  font-size: 70px;
  font-weight: bold;
  padding-top: 100px;
}
.hero-paragraph {
  font-size: 20px;
  padding-bottom: 250px;
}
.hero-btn {
  color: white;
  background-color: blue;
  padding: 15px 30px;
  border: none;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
}

/* speakers area */
.speakers-heading {
  text-align: center;
  font-size: 70px;
}
.speakers-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.speakers {
  border: 1px solid rgb(204, 223, 223);
  border-radius: 10px;
}
.speakers-content{
    padding-left: 10px;
}
.speakers-title{
   color: blue;
}
.speakers-name{
    font-size: 20px;
    font-weight: 700;
}
.speakers-designation{
    color:gray
}

/* pricing area */
.pricing-header{
    text-align: center;
    font-size: larger;
    padding: 50px;
}
.price-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}
.price-card{
    padding: 10px;
    border: 1px solid rgb(192, 187, 187);
    border-radius: 5px;
    
}
.price-card:hover{
    background-color: aqua;
}
.special-price-card{
    padding: 10px;
    border: 1px solid rgb(192, 187, 187);
    background-color: rgba(19, 11, 133, 0.856);
    border-radius: 5px;
    color: white;
}
.special-price-card:hover{
    background-color: rgb(19, 9, 9);
}
.package, .people{
    color: gray;
}
.package, .price, .people{
    padding-left: 20px;
}
.price{
    font-size: 30px;
    font-weight: bolder;
}
.price-btn{
    color: blue;
    font-size: larger;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid blue;
    padding: 5px 50px;
    display: block;
    margin: 20px auto;
}


/* footer */
.footer-container{
    height: 150px;
    background-color: black;
    margin-top: 50px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.footer-icon{
    font-size: 35px;
}
.copyright{
    color: white;
    text-align: center;
}